<footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.3.0
        </div>
        <strong>Copyright &copy; 2018-201X <a href="">Evon Tech</a>.</strong> All rights reserved.
</footer>


