<table>
  <tbody style="background-color:#F5F5F5;">
    <tr>
      <td colspan="2" valign="top" style="padding-top:35px;color:rgb(79,129,189);font-size:23px;text-align:center">
        <?= $title ?>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding:40px 25px 40px; color:#666;font-size:14px;line-height:22px;font-family:Verdana,sans;margin-top:0;margin-bottom:20px;font-weight:normal">
        <?= $content ?> 
      </td>
    </tr>
  </tbody>
</table>