{% include 'head.twig' %}
{% include 'header.html' %}
<div id="main-container-home" class="container">
	<div class="row">
		{## breadcrumb ##}    
		<div class="row" id="breadcrumb">
		{{ breadcrumb.trail('    ')|raw }}
		</div>   
		{## /breadcrumb ##}
		
		{## message_stack ##}
			<span id="message_stack">
			{% if messageStack.size('addressbook') > 0 %}
				{{ messageStack.output('addressbook')|raw }}
			{% endif %} 
			</span>
		{## /message_stack ##}

		<!--div class="page-header">
		  <h1>{{ HEADING_TITLE }}</h1>
		</div-->
		
		<div class="page-header">
			<h1>
			{% if HTTP_GET_VARS.edit is defined %}
			{{ HEADING_TITLE_MODIFY_ENTRY }}
			{% elseif HTTP_GET_VARS.delete is defined %}
			{{ HEADING_TITLE_DELETE_ENTRY }}
			{% else %}
			{{ HEADING_TITLE_ADD_ENTRY }}
			{% endif %}
			</h1>
		</div>
		
		{% if HTTP_GET_VARS.delete is defined %}
		<div class="contentContainer">
			<div class="contentText row">
				<div class="col-sm-8">
					<div class="alert alert-warning">{{ DELETE_ADDRESS_DESCRIPTION }}</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-danger">
						<div class="panel-heading">{{ DELETE_ADDRESS_TITLE }}</div>
						<div class="panel-body">
							{{ tep_address_label(customer_id, HTTP_GET_VARS.delete, true, ' ', '<br />')|raw }}
						</div>
					</div>
				</div>
			</div>
			<div class="buttonSet">
				<span class="buttonAction">
					{{ tep_draw_button(IMAGE_BUTTON_DELETE, 'glyphicon glyphicon-trash', tep_href_link(FILENAME_ADDRESS_BOOK_PROCESS, delete_url, 'SSL'), 'primary', NULL, 'btn-danger')|raw }}
				</span>
				{{ tep_draw_button(IMAGE_BUTTON_BACK, 'glyphicon glyphicon-chevron-left', tep_href_link(FILENAME_ADDRESS_BOOK, '', 'SSL'), null, null, 'btn-primary')|raw }}
			</div>
		</div>
		{% else %}
		
		{## form_addressbook ##}
		{{ tep_draw_form('addressbook', tep_href_link(FILENAME_ADDRESS_BOOK_PROCESS, ((HTTP_GET_VARS.edit is defined) ? 'edit=' ~ HTTP_GET_VARS.edit : ''), 'SSL'), 'post', 'class="form-horizontal" onsubmit="return check_form(addressbook);" role="form" id="form_addressbook"', true)|raw }}
		{## /form_addressbook ##}
		

		<div class="contentContainer">
			{{ address_details|raw }}
			<!-- check isset and is_numeric -->
			{% if (HTTP_GET_VARS.edit is defined) %}
				<div class="buttonSet">
					<span class="buttonAction">
					{{ tep_draw_hidden_field('action', 'update')|raw }}
					{{ tep_draw_hidden_field('edit', HTTP_GET_VARS.edit)|raw }}
					{{ tep_draw_button(IMAGE_BUTTON_UPDATE, 'glyphicon glyphicon-refresh', null, 'primary', null, 'btn-primary')|raw }}
					</span>
					{{ tep_draw_button(IMAGE_BUTTON_BACK, 'glyphicon glyphicon-chevron-left', tep_href_link(FILENAME_ADDRESS_BOOK, '', 'SSL'), null, null, 'btn-primary')|raw }}
				</div>
			{% else %}
			
				{% if navigation.snapshot.length > 0 %}
					{% set back_link = tep_href_link(navigation.snapshot('page'), tep_array_to_string(navigation.snapshot('get'), tep_session_name() is iterable), navigation.snapshot('mode'))|raw %}
				{% else %}
					{% set back_link = tep_href_link(FILENAME_ADDRESS_BOOK, '', 'SSL')|raw %}
				{% endif %}
				
				<div class="buttonSet row">
					<div class="col-xs-6">
						{{ tep_draw_button(IMAGE_BUTTON_BACK, 'glyphicon glyphicon-chevron-left', back_link,'primary',null,'btn btn-primary')|raw }}
					</div>
					<div class="col-xs-6 text-right">
						{{ tep_draw_hidden_field('action', 'process')|raw }}
						{{ tep_draw_button(IMAGE_BUTTON_CONTINUE, 'glyphicon glyphicon-chevron-right', null, 'primary',null,'btn btn-primary')|raw }}
					</div>
				</div>
			{% endif %}
		</div>
		</form>
		
		{% endif %}
	<!-- bodyContent //-->
	</div> <!-- row -->
</div> <!-- bodyWrapper //-->
</div>
</div>

{% include 'footer.html' %}

<script><!--
var form = "";
var submitted = false;
var error = false;
var error_message = "";
var companyCount = 0;

function check_input(field_name, field_size, message) {
  if (form.elements[field_name] && (form.elements[field_name].type != "hidden")) {
    var field_value = form.elements[field_name].value;

    if (field_value.length < field_size) {
      error_message = error_message + "* " + message + "\n";
      error = true;
    }
  }
}

function check_company(message) {
	var tmp = '';
	
	for(var c=1; c < companyCount+1; c++) {
		var ctlCompany = document.getElementById('ctlCompany' + c);
		var company = ctlCompany.options[ctlCompany.selectedIndex].text;
		if(company == '' || company == '0') {
			error_message = error_message + "* " + message + "\n";
			error = true;
			break;
		} else {
			tmp = tmp + company + ':';
		}
	}
	if(tmp != '') 
		form.elements['company'].value = rtrim(tmp, ':');
}

function rtrim(str, chars) {
	chars = chars || "\\s";
	return str.replace(new RegExp("[" + chars + "]+$", "g"), "");
}
function trim(str){return str.replace(/^\s\s*/, '').replace(/\s\s*$/, '');};

function check_radio(field_name, message) {
  var isChecked = false;

  if (form.elements[field_name] && (form.elements[field_name].type != "hidden")) {
    var radio = form.elements[field_name];

    for (var i=0; i<radio.length; i++) {
      if (radio[i].checked == true) {
        isChecked = true;
        break;
      }
    }

    if (isChecked == false) {
      error_message = error_message + "* " + message + "\n";
      error = true;
    }
  }
}

function check_select(field_name, field_default, message) {
  if (form.elements[field_name] && (form.elements[field_name].type != "hidden")) {
    var field_value = form.elements[field_name].value;

    if (field_value == field_default) {
      error_message = error_message + "* " + message + "\n";
      error = true;
    }
  }
}

function check_password(field_name_1, field_name_2, field_size, message_1, message_2) {
  if (form.elements[field_name_1] && (form.elements[field_name_1].type != "hidden")) {
    var password = form.elements[field_name_1].value;
    var confirmation = form.elements[field_name_2].value;

    if (password.length < field_size) {
      error_message = error_message + "* " + message_1 + "\n";
      error = true;
    } else if (password != confirmation) {
      error_message = error_message + "* " + message_2 + "\n";
      error = true;
    }
  }
}

function check_password_new(field_name_1, field_name_2, field_name_3, field_size, message_1, message_2, message_3) {
  if (form.elements[field_name_1] && (form.elements[field_name_1].type != "hidden")) {
    var password_current = form.elements[field_name_1].value;
    var password_new = form.elements[field_name_2].value;
    var password_confirmation = form.elements[field_name_3].value;

    if (password_current == '' || password_current.length < field_size) {
      error_message = error_message + "* " + message_1 + "\n";
      error = true;
    } else if (password_new == '' || password_new.length < field_size) {
      error_message = error_message + "* " + message_2 + "\n";
      error = true;
    } else if (password_new != password_confirmation) {
      error_message = error_message + "* " + message_3 + "\n";
      error = true;
    }
  }
}

function check_form(form_name) {
  if (submitted == true) {
    alert("This form has already been submitted. Please press Ok and wait for this process to be completed.");
    return false;
  }

  error = false;
  form = form_name;
  error_message = "Errors have occured during the process of your form.\n\nPlease make the following corrections:\n\n";


  check_input("firstname", 2, "Your First Name must contain a minimum of 2 characters.");
  check_input("lastname", 2, "Your Last Name must contain a minimum of 2 characters.");

  
  
  
  check_input("email_address", 6, "Your E-Mail Address must contain a minimum of 6 characters.");
  check_input("street_address", 5, "Your Street Address must contain a minimum of 5 characters.");
  check_input("postcode", 4, "Your Post Code must contain a minimum of 4 characters.");
  check_input("city", 3, "Your City must contain a minimum of 3 characters.");

  check_input("state", 2, "Your State must contain a minimum of 2 characters.");

  check_select("country", "", "You must select a country from the Countries pull down menu.");

  check_input("telephone", 3, "Your Telephone Number must contain a minimum of 3 characters.");

  check_password("password", "confirmation", 5, "Your Password must contain a minimum of 5 characters.", "The Password Confirmation must match your Password.");
  check_password_new("password_current", "password_new", "password_confirmation", 5, "Your Password must contain a minimum of 5 characters.", "Your new Password must contain a minimum of 5 characters.", "The Password Confirmation must match your new Password.");

/*check custom field */

var values=document.getElementsByClassName("custom_field");
for (var i = 0; i < values.length; i++) {

				
				   var splitIds=values[i].id.split("_");
				  if(values[i].type =="textarea"){
				  var inpVal=values[i].value;
				  }
				  else if(values[i].type =="checkbox"){
				  var inpVal=values[i].checked;
				  }
				  else{
				  var inpVal=values[i].options[values[i].selectedIndex].value;
				  }
				  
				
				
				if(splitIds[splitIds.length-1]==1){
				
					
					if(values[i].type =="textarea"  ){
					if(inpVal.trim()==""){
				   splitIds.pop();
				   error_message = error_message + "* " + "Please fill the field "+splitIds.join(" ") + "\n";
					error = true;
				 } 
				 }
				  if(values[i].type =="checkbox" && inpVal !=true){
				  
				  splitIds.pop();
				error_message = error_message + "* " + "Please check the field "+splitIds.join(" ") + "\n";
					error = true;
				
				  }
				  if( inpVal=="" && values[i].type =="select-one") {
				  splitIds.pop();
				error_message = error_message + "* " + "Please select the field "+splitIds.join(" ") + "\n";
					error = true;
					
				 }
				
				
				
				}  
				
				
					}

/*check custom field end*/



  if (error == true) {
    alert(error_message);
    return false;
  } else {
    submitted = true;
    return true;
  }
}
//--></script>